* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

/* ----------------custom-scroll-bar---------------- */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background: #caced2;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b2b8c2;
}

#map {
  width: 100%;
  height: 100%;
}
.popover {
  display: block;
  width: 310px;
  height: 300px;
  border-radius: 15px;
  position: relative;
}

.popover .close {
  position: absolute;
  right: 20px;
  top: 10px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: rgb(255 255 255 / 85%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
}

.popover .close:hover {
  background: rgb(255 255 255);
}

.btn {
  margin-top: 10px;
}

.accomm__title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.ballon__link {
  text-decoration: none;
  color: black;
}

.accomm__price span {
  font-weight: 700;
  font-size: 20px;
}

.balloon__container {
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 11px -1px black;
}
